.tr-table-header {
    user-select: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

.content {
    height: 100%;
    overflow: auto;
    margin: 30px;
}

.table-row {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    position: relative;
    cursor: pointer;
}

:root {
    --selected-color: rgb(225, 225, 225);
}